@model IEnumerable<PracticeWebApi.Models.BookWithStatus>

@{
    ViewData["Title"] = "ListBooks";
    int index = 1;
}

<h1>ListBooks</h1>

<p>
    <a asp-action="AddBook">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(index++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                @if(@item.isAvailable) {
                @Html.ActionLink("Mark Unavailable", "ChangeAvailability", "Admin", new { id = item.BookId, isAvailable = false })
                } else {
                @Html.ActionLink("Mark Available", "ChangeAvailability", "Admin", new { id = item.BookId, isAvailable = true })
                }
            </td>
        </tr>
}
    </tbody>
</table>
